@import "tailwindcss";

@theme {
  --color-primary: #8B0000;
  --color-primary-dark: #660000;
  --color-accent: #D4AF37;
  --color-wa: #25D366;
  --color-bgCustom: #FCFCFC;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-bgCustom);
  color: #222222;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  padding-bottom: 70px;
}